{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["> 10%"]
            }
          }
        ]
      ]
    }
  },
  "presets": [
    ["es2015", {
      "modules": false
    }], "stage-0", "react"
  ]
}